/* -----GLOBAL STYLES----- */
body {
  font-family: "Lora", serif;
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-weight: 400;
  margin: 0;
}

h1 {
  margin: 0;
  display: flex;
  justify-content: center;
}

/* main {
  display: flex;
  flex: 1 0 auto;
} */

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  place-items: start;
  background: url(../images/winter-tree-bg-1920x1080.jpg) no-repeat;
  background-size: cover;
  /* padding-left: 20px;
  padding-top: 20px; */
}

/* -----TO-DO-LIST----- */

.to-do-list-section {
  overflow: auto;
  margin-top: -160px;
  /* margin-left: 240px; */
  align-self: self-start;
}

.list-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#task {
  width: 200px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

#add-button {
  font-weight: bold;
  cursor: pointer;
  width: 80px;
  border-radius: 5px;
}

.list-container li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
  padding: 10px 14px;
  border-bottom: 1px solid #ddd;
  background: #f9f9f9;
  border-radius: 10px;
  width: 500px;
  opacity: 0.6;
  /* position: relative; */
}

.bi-circle,
.bi-check-circle {
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* .bi-x-circle-fill {
  position: absolute;
  right: 5px;
  top: 50%; 
  transform: translateY(-50%);
} */

.list-container li .bi-x-circle-fill {
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.list-container li:hover .bi-x-circle-fill {
  opacity: 1;
}

/* -----CLOCK----- */

/* Color Pallets
Dark & Red: #000000, #9a031e
Light and Blue: #ffffff, #000000, #929eaf, #476897, #171718
*/

.clock-container {
  /* background-color: #fcfcfc;
  opacity: 0.8; */
  background-color: #ffffff;
  opacity: 0.7;
  border: 10px solid #171718;
  width: 400px;
  height: 200px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clock-container .clock {
  position: relative;
  top: 50px;
  color: #000000;
  font-size: 100px;
  font-family: none;
}

.clock span {
  font-size: 50px;
}

.clock-container .stop-watch {
  position: relative;
  top: -120px;
  color: #000000;
  font-size: 50px;
  /* opacity: 0; */
  font-family: none;
}

.btn-container {
  position: relative;
  top: -180px;
}

.btn-container button {
  width: 60px;
  border-radius: 10px;
  cursor: pointer;
}

/* -----DATE----- */

/* Color Pallet
rgb(196, 5, 52)
*/

.date-container {
  /* background: white; */
  width: 200px;
  /* padding: 10px; */
  /* padding-right: 50px;
  padding-top: 5px; */
  padding: 5px 20px 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* gap: 0; */
  margin: 0;
}

.month-container {
  background: rgb(196, 5, 52);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  line-height: 1.8;
  opacity: 0.9;
}

.day-and-week-container {
  background: white;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  line-height: 0;
  opacity: 0.7;
}

.day {
  font-size: 2.5em;
}

/* Date and Clock */
.date-and-clock-section {
  display: flex;
  padding-top: 20px;
}

/* -----WEATHER----- */
.weather-app-container {
  overflow: auto;
  background: white;
  /* padding: 20px 30px;     */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 20px;
  margin-left: 20px;
  opacity: 0.85;
  /* justify-self: center;
  align-self: center; */
  /* height: 180px; */
}

.search {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 200px;
}

.search input {
  border-radius: 10px;
  border-width: 2px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
}

.weather-info {
  font-size: 1.1rem;
  color: #333;
}

#temp-display {
  cursor: pointer;
}

/* -----BUNNY----- */

/* svg {
  z-index: 1;
} */

/* default hidden */
#very-hot-clothes,
#hot-clothes,
#warm-clothes,
#mild-cool-clothes,
#chilly-clothes,
#cold-clothes,
#very-cold-clothes,
#freezing-clothes,
#bunny-blinking,
#bunny-happy {
  display: none;
  /* cursor: pointer; */
}

svg {
  cursor: pointer;
}

#freezing-shirt-wave,
#freezing-gloves-wave,
#very-cold-shirt-wave,
#very-cold-gloves-wave,
#cold-shirt-wave,
#cold-gloves-wave,
#chilly-shirt-wave,
#mild-cool-shirt-wave,
#warm-shirt-wave,
#hot-shirt-wave {
  opacity: 0;
}

/* visible helper class */
.visible {
  display: inline !important;
}

/* keep pointer behaviour */
#bunny {
  cursor: pointer;
  pointer-events: bounding-box;
  /* background: #ffffff; */
  /* transition: all 1s ease; */
  /* transform: translateX(-100%); */
  animation: fadeInRight 1s;
}

.bunny-section {
  /* background: white; */
  display: flex;
  align-items: flex-start;
  /* justify-content: flex-start; */
  /* gap: 10px; */
  /* padding: 0; */
  /* margin-top: 200px; */
  align-self: end;
  justify-self: end;
  margin-right: 150px;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-80%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.message-box-container {
  position: relative;
}

.message-box {
  position: absolute;
  padding: 15px;
  background: #f0f0f0;
  border-left: 5px solid #3498db;
  font-size: 16px;
  border-radius: 5px;
  width: 250px;
  margin-left: -80px;
  opacity: 0;
  /* position: relative; */
  /* transition: all 1s ease; */
}

.one {
  animation: showAndFade 4s ease;
}

.two {
  animation: showAndFade 6s ease;
  animation-delay: 3s;
}

@keyframes showAndFade {
  20% {
    opacity: 0;
  }
  25%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#bunny-right-arm {
  opacity: 1;
  animation: fadeAndShow 4s ease;
}

@keyframes fadeAndShow {
  20% {
    opacity: 1;
  }
  25%,
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#bunny-right-arm-wave {
  opacity: 0;
  animation: showAndFade 4s ease;
}

footer {
  background: rgb(37, 36, 36);
  color: rgb(219, 232, 237);
  display: flex;
  padding: 0 10px;
  font-size: 15px;
}
